<% provide(:title, ' 小説を応援する') %>
<% provide(:button_text, '小説を応援する') %>
<h1></h1>
小説の応援は各小説につき、一回までしかできません。
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', novel: @novel %>
  </div>
</div>