<% provide(:title, "About") %>
<h1>About</h1>
<p>
  このサイトでは今現在次の五つのサービスが使えます。<br>
<br>
  1　努力で夢を叶えたい（通称タスク）<br>
<br>
  2　みんなのクイズ<br>
<br>
  3　求ム、小説の感想<br>
<br>
  4　ポイント付メール<br>
<br>
  5　ミニノウハウ<br>
<br>
  それぞれがどんなふうなサービスなのかはヘルプを参照にしてください。<br>
</p>
