<% provide(:title, "About") %>
<h1>About</h1>
<p>
  このサイトでは今現在次の八つのサービスが使えます。<br>
<br>
  1　努力で夢を叶えたい（通称タスク）<br>
<br>
  2　みんなのクイズ<br>
<br>
  3　求ム、小説の感想<br>
<br>
  4　ポイント付メール<br>
<br>
  5　ミニノウハウ<br>
<br>
  6　ほめて！<br>
<br>
  7　百百<br>
<br>
  8　有料サービス５％レビュー<br>
<br>
  それぞれがどんなふうなサービスなのかは<%= link_to "ヘルプ", help_path %>を参照にしてください。<br>
</p>
