<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  <b>①努力で夢を叶えたい</b><br>
自分で期限を設定してやろうと思っているタスクができなかったら、<br>
第三者にポイントを上げるということを宣言することで、<br>
自分に発破を掛けるサービス。<br>
　ポイントをあげたい第三者がいない場合は、<br>
ID１の人を指名しておくと第三者が代わりに<br>
立候補できるサービスもあります<br>
　また、面白いタスクには応援のコメントと共に<br>
ポイントを上げることもできます<br>
(そのポイントはタスクが失敗されたら、本人の元に戻ります）<br>
なお、そのユーザーが何回成功して<br>
何回失敗したのかはプロフィールを見ると表示されます。<br>
<br>
<b>②みんなのクイズ</b><br>
　フォームに問題文と答えを入力して問題を制作、<br>
第三者が解くというスタイルです。<br>
答えを見るのに１００ダイスポイント<br>
（十円相当）のポイントがかかります。<br>
答えを自力で導き出せばポイントはかかりません。<br>
　（尚、問題の答えは日本語の場合半角を使わないようにする他、<br>
数字は漢字を使わないようにしたり、<br>
英単語で答える場合は半角にしたり、<br>
なるべく単語になるように工夫しましょう。<br>
※答えは完全一致でないと判定されないため。<br>
問題の答えを見た際にクイズの制作者のメルアドが出ますので、<br>
抗議されないような問題を作りましょう）<br>
<br>
<b>③求ム小説の感想</b><br>
　小説の感想を２０００ポイント（２００円相当）で募集します。<br>
　基本的に感想の応募は先着順の早い者勝ちのため、<br>
まず「面白い」などを入力して、<br>
枠を確保した後に、<br>
あらためてリンク先の小説を読んで感想を書くことを推奨しています。<br>
お金を払って募集しているので、なるべく良いところを探して、<br>
悪い部分もこういうふうに改善した方がいいのではなどと<br>
作者を傷つけない配慮をしましょう。<br>
感想を書くと100ポイントの手数料を除いた1900ポイントが入ります。<br>
　また、小説を応援することもできます。<br>
応援する際にはポイントをおひねりであげることも可能です。<br>
おひねりの９割が小説を書いた本人にわたる他、<br>
あげたおひねりはその小説のサイト内でのランクに反映されます。<br>
ただし、感想も応援も各小説各ユーザー一回ずつです。<br>
（いくらでも応援できてしまうと複数のアカウントで<br>
１０００ポイントで応援し続けて、<br>
１０００ポイントを自分で貰って、<br>
というのを繰り返すことで不正が簡単にできてしまうため）<br>
尚、小説の作者以外がサイトに投稿して<br>
感想を求むのは禁止です<br>
（そのためにポイント送付メールがあります）<br>
<br>
<b>④ポイント送付メール</b><br>
　ユーザーにポイントを送ることができるメールです。<br>
未来に送ることもできます（未来の自分にも送れます）。<br>
ポイントはゼロでも送れます。<br>
<br>
　このサイトのユーザーでない人にもポイントは送れます。<br>
（招待コードをサインアップ時に<br>
入力することでポイントが貰えます）<br>
 今現在は実装していませんが、<br>
入力したメルアドが存在したけれども、<br>
それを知らなかったけれどもポイントを送付したケースの場合には、<br>
そのユーザーにポイントがいくようにする予定です。<br>
<br>
<b>⑤ミニノウハウ</b><br>
自分の持っているノウハウを投稿し、<br>
自分の設定した任意のポイント額で公開します。<br>
見られた場合、任意のポイント額の９割が投稿した本人に渡ります。<br>
ただし、３０分以内は返金が自由にできる仕様ですので、<br>
内容が良くてなるべく安くないと返金されてしまう可能性が高まります。<br>
<br>
<b>⑥ほめて！</b><br>
投稿した褒めてもらいたい内容に関して、<br>
1000ポイント（百円相当）で褒めてもらえます。<br>
最初に何人褒めて欲しいかを明記して、<br>
その人数だけ任意で選び、<br>
その人に対してポイントが支払われます。<br>
<br>
<b>⑦百百</b><br>
最初百文字が公開されていて、<br>
その続きの百文字を５０ポイントで見ることができます。<br>
投稿したユーザーは最初の百文字と続きの百文字を入力します。<br>
誰かに読まれたら４５ポイントが書いた人に入ります。<br>
投稿は無料です。<br>
<br>
<b>⑧有料サービス５％レビュー</b><br>
Web上や、この世にあるありとあらゆるサービスのレビューを<br>
定価の５％相当額のポイントで見ることができるサービスです。<br>
情報を読まれたらその人に閲覧料のポイントの９割が入るようになってます。<br>
高額なあの商品を買っても損はないのか？というのことを調べたり、<br>
高額なあの情報商材を買ったけれども、<br>
なんとか他人にその商品の情報を売ることで<br>
ペイできないかなどと思ったらこのサービスを利用ください。<br>
情報の投稿は無料ですので、<br>
お金をたくさん使っちゃったと思ったあなたは<br>
是非とも投稿ください。<br>
（尚、途中で間違って更新しても、<br>
自分のそのページを見れば無料で更新し直すことができます）<br>
<br>
</p>