<div class="center jumbotron">
  <h1>サイコ・ロジックへようこそ！！</h1>

  <h2>
    このページは自社で発行したポイントを利用して<br>
    コンテンツを購入したり色々できるサービスです。<br><br>
    このサイトについての連絡は<b>info@psycho-logic.jp</b>までお願いします。<br><br>
  　このサイトで使われるポイントにつきましてはサイト内リンクからご購入ください。<br><br>
  (ポイントがなくてももらう方法もあるので十分楽しめます！<br>
  ぜひこの機会に無料のユーザー登録をお願いいたします！)</h2>

  <%= link_to "今すぐサインアップする！", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %><br><br>
                      このページは
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>を参考に作りました。