<div class="center jumbotron">
  <h1>サイコ・ロジックへようこそ！！</h1>

  <h2>
    このページは
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>を参考に
    ゴリゴリ改造して作った投稿サービスです。<br>
    ポイントのやり取りが楽しいサイトになる予定です。<br>
    このサイトについての連絡は<b>info@psycho-logic.jp</b>までお願いします。<br>
  　このサイトで使われるポイントにつきましては<a href="https://note.com/kumagaijirou/n/n34ca873a3235">こちら</a>でご購入ください。<br>
  （ポイントがなくてももらう方法もあるので十分楽しめます！<br>
  ぜひこの機会に無料のユーザー登録をお願いいたします！  </h2>

  <%= link_to "今すぐサインアップする！", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>