<h1>パスワードのリセット</h1>

<p>もしあなたがパスワードをリセットする場合、下記のリンクをクリックして下さい。:</p>

<%= link_to "パスワードのリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間だけ有効です。</p>

<p>
もし、あなたがこのパスワードのリセット申請に見覚えがない場合、
このメールは無視してパスワードを保持して下さい。
</p>