<% provide(:title, 'お気に入りの百百') %>
<h1>お気に入りの百百</h1>


<%= link_to "新しい百百を投稿する", new_hyakuhyaku_path %><br>


<%= will_paginate %>

<ul class="hyakuhyakus">
  <%= render @hyakuhyakus %>
  
</ul>

<%= will_paginate %>