<% provide(:title, '百百') %>
<h1>百百</h1>

<%= link_to "新しい百百を投稿する", new_hyakuhyaku_path %><br>
<%= link_to "百百をID検索する", hyakuhyakus_search_path %><br>

<% if @hyakuhyaku.user_id == current_user.id || already_purchased?(@hyakuhyaku) || user_can_afford? %>
  <%= render "hyakuhyaku_card", hyakuhyaku: @hyakuhyaku, user: @user, okiniiri: @okiniiri %>
<% else %>
  <p>ダイスポイントが足りません。</p>
<% end %>
