<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= link_to "dice_ranking", users_ranking_path %><br><br>


<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>