<% provide(:title, 'サインアップ') %>
<% provide(:button_text, '自分のアカウントを作る') %>
<h1>サインアップ</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    ※招待コードは第三者からポイント付メールをもらったときに入力するものです。<br>
    紹介ユーザーIDは紹介されたユーザーから教わったIDを入力してください。<br>
    それぞれない場合は入力しなくてもサインアップできます。

    <%= render 'form' %>
    サインアップしたユーザーは次の<%= link_to "利用規約",terms_path, target: :_blank, rel: "noopener noreferrer" %>に<br>
    合意したものとみなします。<br>

  </div>
</div>