<% provide(:title, '小説の感想') %>
<h1>感想を求めている作品の一覧</h1>

<b>感想はログインすると読んだり書き込んだりできます。<br>
感想を書き込むと作者より1900ポイント(190円相当）が貰えます。<br>
ログインは無料です。<br>
是非会員になってあなたのお気に入りの作品を応援してください。</b><br>

<%= will_paginate %>

<ul class="novels">
  <%= render @novels %>
  
</ul>

<%= will_paginate %>