<footer class="footer">
  <small>
    The <a href="https://note.com/kumagaijirou/n/n34ca873a3235">psycho-logic</a>
    by <a href="https://note.com/kumagaijirou/">kumagai jirou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>